/* Container for centering the form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Form Styling */
.expense-form {
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 500px;
}

/* Back Button Styling */
.back-button {
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-button img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

/* Error Message */
.error-message {
    color: red;
    margin-bottom: 15px;
}

/* Label Styling */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

label span {
    color: red;
    margin-left: 3px;
}

/* Input Styling */
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border:dotted;
    color: #000000;
}


/* Button border and neccessary */
button[type="submit"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
}


